[Desktop Entry]
Name=MTG Arena Tool
Comment=An MTG Arena tracker and collection manager.
GenericName=MTG Arena Tool
Exec=/usr/share/mtgatool/start.sh
Terminal=false
Type=Application
Icon=/usr/share/mtgatool/mtgatool.png
Categories=Games
startupNotify=true