.search-line {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  opacity: 0.8;
  z-index: 10;

  &:hover {
    transform: rotate(-90deg);
    opacity: 1;
  }
}

.set-filter {
  opacity: 1;
  background-repeat: no-repeat;
  width: 32px;
  margin: 16px;
  height: 32px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  -webkit-transition: all .15s ease-in-out;
}

.set-filter:hover {
  opacity: 0.9;
}

.set-filter-on {
  opacity: 0.4;
}