.app-wrapper {
  z-index: auto;
  background-color: var(--color-base);
}

.app-wrapper-no-frame {
  z-index: auto;
  height: 100%;
  background-color: var(--color-base);
}

.app-wrapper-back, .app-wrapper-back-no-frame {
  flex: 1 1 auto;
  z-index: auto;
  background-image: url(../assets/images/main-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;

  &:after {
    background: url(../assets/images/background_overlay.png);
    content: ' ';
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    position: absolute;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.75;
  }
}

.wrapper {
  width: 100%;
  height: calc(100% - 49px);
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper-inner {
  margin: 0 auto;
  flex-grow: 2;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.overflow-ux {
  width: calc(100%);
  position: relative;
}

.view-container {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.version-number {
  width: 80px;
  text-align: center;
  font-family: var(--main-font-name);
  color: var(--color-text);
  line-height: 24px;
  font-size: 14px;
  height: 24px;
  position: absolute;
  right: 12px;
  bottom: 4px;
  background-color: var(--color-section);
  z-index: 100;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
}

.app-settings {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-section);
  z-index: 100;
  border-radius: 4px;
}

.flex-end {
  justify-content: flex-end;
}

.flex-bottom {
  height: 50%;
  display: flex;
}


.flex-top {
  height: 50%;
  display: flex;
  line-height: 32px;
}

.flex-left {
  flex-direction: column;
}