


.check-container {
  display: flex;
  margin-top: 12px;
  margin-left: 16px;
  position: relative;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  -webkit-transition: all .15s ease-in-out;
}

.check-container-centered {
  margin: 16px auto !important;
  width: fit-content !important;
}

.check-container-but {
  margin-top: 20px;
  margin-left: 16px;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.but-container-label {
  height: 32px;
  line-height: 32px;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin: 12px;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-section);
  border: 1px solid var(--color-dark);
  -webkit-transition: all .15s ease-in-out;
}

/* On mouse-over, add a grey background color */
.check-container:hover input:enabled ~ .checkmark {
  background-color: var(--color-section-hover);
  border: 1px solid var(--color-dark-hover);
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: var(--color-button-hover) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}