.decks-table-deck-tile {
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
  width: 210px;
  height: 170px;
  background-color: var(--color-section);
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 14px 5px;
  background-position: center;
  background-repeat: no-repeat;

  .decks-table-deck-inner {
    display: flex;
    flex-direction: column;
    background-color: var(--color-shade-75);
    padding: 2px;
    height: 60%;
    justify-content: space-between;

    .decks-table-deck-item {
      margin: 2px 0;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    
    .time {
      margin-right: 8px;
      margin-left: 8px;
      font-size: 16px;
      font-family: var(--main-font-name-it);
      white-space: nowrap;
      font-weight: 300;
      color: var(--color-text);
    }
  }
}

.decks-table-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 190px;
}

.decks-table-deck-archive {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin-bottom: auto;
  filter: drop-shadow(0px 4px 4px black);
  background: url(../assets/images/hide.png) no-repeat center;
}

.decks-table-deck-unarchive {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin-bottom: auto;
  filter: drop-shadow(0px 4px 4px black);
  background: url(../assets/images/show.png) no-repeat center;
}

.decks-table-deck-archive:hover,
.decks-table-deck-unarchive:hover {
  filter: drop-shadow(0px 4px 4px black) brightness(1.5);
}

.decks_top {
  display: flex;
  /*min-height: 64px;*/
  margin: 0 16px;
  justify-content: space-between;
}
