
@font-face {
  font-family: "belerenbold";
  src: url("../assets/fonts/belerenbold.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto-v18-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "roboto-italic";
  src: url("../assets/fonts/roboto-v18-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/roboto-v18-latin-500.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold-italic";
  src: url("../assets/fonts/roboto-v18-latin-500italic.woff") format("woff");
}

@font-face {
  font-family: "lato";
  src: url("../assets/fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "lato-italic";
  src: url("../assets/fonts/Lato-Italic.woff") format("woff");
}

@font-face {
  font-family: "lato-bold";
  src: url("../assets/fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "lato-bold-italic";
  src: url("../assets/fonts/Lato-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Mplantin";
  src: url("../assets/fonts/Mplantin.woff") format("woff");
}

@font-face {
  font-family: "Mplantin-italic";
  src: url("../assets/fonts/mplantinit.woff") format("woff");
}

@font-face {
  font-family: "Mplantin-bold";
  src: url("../assets/fonts/mplantinbold.woff") format("woff");
}

@font-face {
  font-family: "PhyrexianHorizontal";
  font-weight: normal;
  font-style: normal;
  src: url(../assets//fonts/PhyrexianHorizontal.woff2) format("woff2"),
    url(../assets/fonts/PhyrexianHorizontal.woff) format("woff");
  font-display: swap;
}