.form-input-container {
  display: flex;
  height: 32px;
  width: 100%;
  padding: 4px 0 12px 0;

  input,
  textarea {
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    display: inline-table;
    border-radius: 3px;
    color: var(--color-text);
    height: 22px;
    width: 100%;
    font-size: 15px;
    padding: 6px;
    user-select: none;
    font-family: var(--main-font-name);
  }

  input:focus, textarea:focus {
    border: 1px solid var(--color-section-active);
    outline-style: none;
  }
}

.form-label {
  font-family: var(--main-font-name-bold);
  color: var(--color-text-dark);
  margin: auto 1px;
}

.form-options {
  width: 18.9em;
  margin: 0 auto auto auto;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.form-container {
  margin: auto;
  flex-grow: 2;
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  flex-direction: column;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-icon {
  background-image: url(../assets/icons/icon-256.png);
  background-color: var(--color-base);
  border-radius: 7em;
  background-size: contain;
  width: 7em;
  height: 7em;
  position: relative;
  margin: auto auto -7em auto;
  top: -7em;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.login-loading {
  width: 100%;
  height: 18em;
  text-align: center;
  line-height: 18em;
}

.form-authenticate {
  max-width: 24em;
  height: 20em;
  z-index: 5;
  width: calc(100% - 112px);
  margin: auto;
  background-color: var(--color-base);
  color: var(--color-text);
  padding: 3.5em 0em 2em 0em;
  border-radius: 3px;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.3);
}

.form-button {
  align-self: center;
  cursor: pointer;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 36px;
  border-radius: 3px;
  color: var(--color-text-button);
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--color-back);
  background-color: var(--color-button);
  -webkit-transition: all 0.1s ease-in-out;
  font-family: var(--main-font-name);
  display: block;
  margin: auto;
}

.form-button:disabled {
  background-color: var(--color-button);
  color: var(--color-text-disabled);
}

.form-button:hover:enabled {
  background-color: var(--color-button-hover);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-section-active);
}

.form-button:active:enabled {
  background-color: var(--color-button);
  line-height: 34px;
  outline: none !important;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.6);
}

.form-button:focus {
  outline: none !important;
}

.form-error {
  text-align: center;
  line-height: 32px;
  font-family: var(--main-font-name-bold-it);
  color: var(--color-r);
  width: 19em;
  height: 32px;
  margin: 0px auto;
  -webkit-transition: all 0.3s ease-in;
}
