.input-container {
  padding: 0;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 32px;
  margin: auto 4px;
}

.input-container > input {
  background-color: var(--color-section);
  border: 1px solid var(--color-dark);
  display: inline-table;
  border-radius: 2px;
  color: var(--color-text);
  width: 100%;
  font-size: 14px;
  user-select: none;
  font-family: var(--main-font-name);
  padding-left: 8px;
  -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.input-container > .select {
  display: inline-block;
  width: 100%;
  user-select: none;
  padding-left: 8px;
}

.input-container > .select > div {
  background-color: var(--color-section);
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  box-shadow: none;
  -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
  min-height: 0;
}
.input-container > .select > div *:not([class$="placeholder"]) {
  background-color: var(--color-section);
  color: var(--color-text);
  font-size: 14px;
  font-family: var(--main-font-name);
}
.input-container > .select > div > div {
  height: 30px;
}
.input-container > .select > div div[class$="ValueContainer"] {
  cursor: text;
}
.input-container > .select > div div[class$="indicatorContainer"] {
  cursor: pointer;
  padding: 0;
}

input:focus,
.input-container > input:focus,
.input-container > .select > div:focus-within {
  outline-style: none;
  border: 1px solid var(--color-button);
}
