.inventory-card-quantity-blue {
  width: 25%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_blue.png);
}

.inventory-card-quantity-green {
  width: 25%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_green.png);
}

.inventory-card-quantity-gray {
  width: 25%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_gray.png);
}

.inventory-card-quantity-orange {
  width: 25%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_orange.png);
}

.inventory-card-infinity-blue {
  width: 100%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_inf_blue.png);
}

.inventory-card-infinity-green {
  width: 100%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_inf_green.png);
}

.inventory-card-infinity-gray {
  width: 100%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_inf_gray.png);
}

.inventory-card-infinity-orange {
  width: 100%;
  height: 24px;
  display: inline-block;
  background: center no-repeat url(../assets/images/quantity_inf_orange.png);
}