.list-item-container,
.list-item-container-nohover {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  height: 64px;
  display: flex;
  margin: 4px 0px;
  border-radius: 4px;
  justify-content: space-between;
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);

  @media screen and (max-width: 600px) {
    height: 48px;
    font-size: 8px;

    .mana-s20 {
      width: 12px;
      height: 12px;
    }
  }
}

.list-item-container:hover {
  border: 1px solid var(--color-dark-hover);
  background-color: var(--color-shade-25);
}

.list-item-left-indicator {
  min-width: 6px;
  height: 100%;
}

.list-item-left {
  overflow: hidden;
  flex-shrink: 1;
  display: flex;
}

.list-item-center {
  flex-grow: 1;
  display: flex;
}

.list-item-right {
  display: flex;

  &.explore-time {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.list-item-image {
  min-width: 180px;
  height: 100%;
  margin: 0px 8px 0px 0px;
  background-size: 190px;
  background-position-x: center;
  background-position-y: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    min-width: 52px;
    background-size: 120px;
  }
}

.list-item-archive {
  display: flex;
  min-width: 32px;
  padding: 0 4px;
  overflow: hidden;
  fill: "var(--color-icon)";
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.list-item-archive:hover {
  background-color: var(--color-r);
  fill: "var(--color-section)";
}

.list-item-unarchive {
  display: flex;
  min-width: 32px;
  padding: 0 4px;
  overflow: hidden;
  fill: "var(--color-icon)";
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.list-item-unarchive:hover {
  background-color: var(--color-g);
  fill: "var(--color-section)";
}

.deck-tags-container {
  margin: 6px 16px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.list-deck-name {
  -webkit-user-select: none;
  white-space: nowrap;
  align-self: center;
  margin-left: 2px;
  color: var(--color-light);

  @media screen and (max-width: 600px) {
    height: 24px;
    line-height: 24px;
  }
}

.list-deck-name-it {
  -webkit-user-select: none;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: 16px;
  /*margin-top: 2px;*/
  color: var(--color-light);
  line-height: 32px;
  text-align: -webkit-left;
  font-size: 16px;
  font-family: var(--main-font-name-it);
  opacity: 0.5;

  @media screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 24px;
  }
}

.list-deck-right-it {
  -webkit-user-select: none;
  overflow: hidden;
  line-height: 24px;
  height: 24px;
  margin-left: 8px;
  text-align: right;
  margin-right: 16px;
  color: var(--color-light);
  font-family: var(--main-font-name-it);
  opacity: 0.5;
}

.list-deck-last {
  -webkit-user-select: none;
  margin-left: 14px;
  margin-right: 18px;
  line-height: 32px;
  font-family: var(--sub-font-name);
  color: var(--color-light);
  font-weight: 300;
  text-align: right;
}

.list-deck-winrate {
  -webkit-user-select: none;
  margin-left: auto;
  margin-right: 18px;
  line-height: 32px;
  font-family: var(--sub-font-name);
  color: var(--color-light);
  font-weight: 300;
  text-align: right;
}

.list-deck-record {
  -webkit-user-select: none;
  text-align: right;
  margin-right: 16px;
  line-height: 24px;
  color: var(--color-light);
  font-weight: 300;
  height: 24px;
  font-family: var(--sub-font-name);
}

.list-match-time {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 22px;
  font-family: var(--main-font-name-it);
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-light-50);

  @media screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 24px;
  }
}

.list-match-time-top {
  margin-right: 18px;
}

.list-match-result {
  font-family: var(--main-font-name);
  font-size: 20px;
  line-height: 64px;
  margin-right: 8px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 48px;
  }
}

.list-match-result-score {
  font-family: var(--main-font-name-it);
  font-size: 20px;
  line-height: 64px;
  margin-right: 32px;
  color: var(--color-light-75);

  &.explore-result {
    width: 120px;
    text-align: right;
    font-size: 18px;

    @media screen and (max-width: 600px) {
      width: auto;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 16px !important;
    margin-right: 8px;
    line-height: 48px;
  }
}

.list-match-title {
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 32px;
  vertical-align: middle;
  text-align: right;
  font-family: var(--main-font-name-it);
  font-size: 16px;
  color: var(--color-light);

  @media screen and (max-width: 600px) {
    font-size: 8px;
    line-height: 24px;
  }
}

.copy-button {
  margin: auto 4px auto 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  background-image: url(../assets/images/copy.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.copy-button-small {
  margin: auto 4px auto 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background-image: url(../assets/images/copy.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

@mixin small-icon {
  @media screen and (max-width: 600px) {
    width: 8px;
    height: 8px;
    background-size: contain;
  }
}

@mixin small-text {
  @media screen and (max-width: 600px) {
    font-size: 10px !important;
  }
}

.result-details {
  display: flex;
  flex-direction: row;
  margin: auto 4px;

  @media screen and (max-width: 600px) {
    font-size: 8px !important;
    line-height: 12px !important;
    margin: auto 2px;
  }

  .ontheplaytext {
    color: var(--color-g);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
  
    @include small-text;
  }
  
  .ontheplay {
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/ontheplay.png);

    @include small-icon;
  }
  
  .onthedrawtext {
    color: var(--color-r);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
  
    @include small-text;
  }
  
  .onthedraw {
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/onthedraw.png);

    @include small-icon;
  }
  
  .notplayedtext {
    color: var(--color-b);
    font-size: 16px;
    line-height: 16px;
    margin: auto auto 2px auto;
    font-family: var(--sub-font-name-bold);
    
    @include small-text;
  }
  
  .notplayed {
    opacity: 0.5;
    width: 16px;
    height: 16px;
    margin: 2px 4px auto 4px;
    background: url(../assets/images/notplayed.png);

    @include small-icon;
  }
}

