
.list-item-container {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  height: 64px;
  display: flex;
  margin: 4px 0px;
  border-radius: 4px;
  justify-content: space-between;
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.list-item-container:hover {
  border: 1px solid var(--color-dark-hover);
  background-color: var(--color-shade-25);
}

.list-item-left-indicator {
  min-width: 6px;
  height: 100%;
}

.list-item-left {
  overflow: hidden;
  flex-shrink: 1;
  display: flex;
}

.list-item-center {
  flex-grow: 1;
  display: flex;
}

.list-item-right {
  display: flex;
}

.list-item-image {
  min-width: 180px;
  height: 100%;
  margin: 0px 8px 0px 0px;
  background-size: 190px;
  background-position-x: center;
  background-position-y: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list-item-archive {
  display: flex;
  min-width: 32px;
  padding: 0 4px;
  overflow: hidden;
  fill: "var(--color-icon)";
  -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.list-item-archive:hover {
  background-color: var(--color-r);
  fill: "var(--color-section)";
}

.list-item-unarchive {
  display: flex;
  min-width: 32px;
  padding: 0 4px;
  overflow: hidden;
  fill: "var(--color-icon)";
  -webkit-transition: all .25s cubic-bezier(0.2, 0.5, 0.35, 1);
}

.list-item-unarchive:hover {
  background-color: var(--color-g);
  fill: "var(--color-section)";
}

.deck-tags-container {	
  margin: 6px 16px;	
  display: flex;	
  flex-wrap: wrap;	
  flex-grow: 2;	
}


.list-deck-name {
  -webkit-user-select:none;
  white-space: nowrap;
  align-self: center;
  margin-left: 2px;
  color: var(--color-light);
}

.list-deck-name-it {
  -webkit-user-select: none;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: 16px;
  /*margin-top: 2px;*/
  color: var(--color-light);
  line-height: 32px;
  text-align: -webkit-left;
  font-size: 16px;
  font-family:  var(--main-font-name-it);
  opacity: 0.5;
}

.list-deck-right-it {
  -webkit-user-select: none;
  overflow: hidden;
  line-height: 24px;
  height: 24px;
  margin-left: 8px;
  text-align: right;
  margin-right: 16px;
  color: var(--color-light);
  font-family:  var(--main-font-name-it);
  opacity: 0.5;
}

.list-deck-last {
  -webkit-user-select: none;
  margin-left: 14px;
  margin-right: 18px;
  line-height: 32px;
  font-family: var(--sub-font-name);
  color: var(--color-light);
  font-weight: 300;
  text-align: right;
}

.list-deck-winrate {
  -webkit-user-select: none;
  margin-left: auto;
  margin-right: 18px;
  line-height: 32px;
  font-family: var(--sub-font-name);
  color: var(--color-light);
  font-weight: 300;
  text-align: right;
}

.list-deck-record {
  -webkit-user-select: none;
  text-align: right;
  margin-right: 16px;
  line-height: 24px;
  color: var(--color-light);
  font-weight: 300;
  height: 24px;
  font-family: var(--sub-font-name);
}

.list-event-phase {
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 40px;
  font-family:  var(--main-font-name-it);
  text-align: right;
  font-size: 16px;
  color: rgba(183, 200, 158, 1);
}

.list-event-phase-red {
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 40px;
  font-family:  var(--main-font-name-it);
  text-align: right;
  font-size: 16px;
  color: rgba(221, 130, 99, 1);
}

.list-match-time {
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 22px;
  font-family:  var(--main-font-name-it);
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-light-50);
}

.list-match-time-top {
  margin-right: 18px;
}

.list-match-result {
  font-family:  var(--main-font-name);
  font-size: 20px;
  line-height: 64px;
  margin-right: 8px;
}

.list-match-result-score {
  font-family:  var(--main-font-name-it);
  font-size: 20px;
  line-height: 64px;
  margin-right: 32px;
  color: var(--color-light-75);
}


.list-economy-top {
  margin-right: 16px;
  height: 64px;
  line-height: 64px;
  justify-content: center;
}

.list-economy {
  cursor: default;
  padding-left: 16px;
  height: 64px;
  opacity: 0.66;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .2s ease-out;
}
.list-economy .list_item_archive, .list_economy .list_item_unarchive {
  width: 4px;
}

.list-economy:hover {
  opacity: 1;
  padding-left: 32px;
  background-color: rgba(0, 0, 0, 0.25);
}
.list-economy:hover .list_item_archive, .list_economy:hover .list_item_unarchive {
  width: 32px;
}

.list-economy-title {
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 32px;
  vertical-align: middle;
  text-align: right;
  font-family:  var(--main-font-name-it);
  font-size: 16px;
  color: var(--color-light);
}

.list-economy-awarded {
  margin: 0 8px 0 auto;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  max-width: calc(100% - 300px);
}

.list-economy-awarded > * {
  flex-shrink: 0;
}

.list-event-expand {
  width: calc(100% - 32px);
  overflow: hidden;
  margin-left: 16px;
  -webkit-transition: all .2s ease-in;
}

.list-match-title {
  width: auto;
  margin-right: 8px;
  margin-left: auto;
  line-height: 32px;
  vertical-align: middle;
  text-align: right;
  font-family:  var(--main-font-name-it);
  font-size: 16px;
  color: var(--color-light);
}

.copy-button {
  margin: auto 4px auto 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  background-image: url(../assets/images/copy.png);
  background-position: center;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
}

.copy-button:hover {
  opacity: 1;
}


.ontheplaytext {
  color: var(--color-g);
  font-size: 16px;
  line-height: 16px;
  margin: auto auto 2px auto;
  font-family: var(--sub-font-name-bold);
}

.ontheplay {
  width: 16px;
  height: 16px;
  margin: 2px 4px auto 4px;
  background: url(../assets/images/ontheplay.png);
}

.onthedrawtext {
  color: var(--color-r);
  font-size: 16px;
  line-height: 16px;
  margin: auto auto 2px auto;
  font-family: var(--sub-font-name-bold);
}

.onthedraw {
  width: 16px;
  height: 16px;
  margin: 2px 4px auto 4px;
  background: url(../assets/images/onthedraw.png);
}

.notplayedtext {
  color: var(--color-b);
  font-size: 16px;
  line-height: 16px;
  margin: auto auto 2px auto;
  font-family: var(--sub-font-name-bold);
}

.notplayed {
  opacity: 0.5;
  width: 16px;
  height: 16px;
  margin: 2px 4px auto 4px;
  background: url(../assets/images/notplayed.png);
}