.matches-top {
  height: 96px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 16px 0;

  .top-inner {
    height: 32px;
    display: flex;
    margin: auto 16px;
    justify-content: space-between;
  }
}

.game-prev {
  cursor: pointer;
  background: url(../assets/images/prev.png) no-repeat center;
  opacity: 0.5;
  width: 24px;
  height: 24px;
  -webkit-transition: all .2s ease-in;
}

.game-swap {
  color: var(--color-text);
  display: flex;
  justify-content: space-around;
  margin: 4px 0;
}

.game-next {
  cursor: pointer;
  background: url(../assets/images/next.png) no-repeat center;
  opacity: 0.5;
  width: 24px;
  height: 24px;
  -webkit-transition: all .2s ease-in;
}

.game-prev:hover, .game-next:hover {
  opacity: 1;
}

.match-player-win {
  -webkit-user-select: none;
  align-self: center;
  margin-right: 16px;
  font-family:  var(--main-font-name-it);
  color: var(--color-g);
}

.match-player-name {
  -webkit-user-select: none;
  align-self: center;
  margin-right: 4px;
  font-family:  var(--main-font-name);
  color: var(--color-text);
}

.gamestats-side {
  margin: 0 0 16px 0;
  max-width: 360px;
  width: calc(50% - 8px);
}

.gamestats-subtitle {
  margin: 4px auto 10px auto;
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--main-font-name-bold-it);
  text-align: center;
}

.card-lists-list {
  display: flex;
  justify-content: space-between;
}

.mulligan-card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-border-radius: 4.75% / 3.5%;
  height: 100%;
  -webkit-transition: background-image 0.25s cubic-bezier(0, 0, 0.2, 1);

  &.high {
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.25);
  }

  &:hover {
    margin: -1px;
    border: 1px solid var(--color-button-hover);
    z-index: 100;
  }
}

.match-view-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  grid-auto-rows: auto 80px 110px max-content;
  grid-template-areas: "controls controls" "name right" "buttons right" "deck right";
}

.match-top-result {
  font-family: var(--main-font-name);
  font-size: 20px;
  margin-right: 8px;
}