.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  display: flex;
  z-index: 200;
  cursor: auto;

  .popup-box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
    background-color: var(--color-base);
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    overflow: auto;
    position: relative;
    box-shadow: 0px 7px 12px 4px #0000004f;
  }

  .popup-div {
    overflow: auto;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    border-radius: 3px;
    margin: auto;
    color: var(--color-back);
    background-color: var(--color-base);
    box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.3);
  }

  .popup-inner {
    margin: 40px auto 32px auto;
    width: calc(100% - 64px);
    max-width: 1000px;
  }

  .close-button {
    width: 32px;
    height: 32px;
    position: fixed;
    right: 16px;
    top: 16px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    opacity: 0.8;
    z-index: 10;

    &:hover {
      transform: rotate(-90deg);
      opacity: 1;
    }
  }

  .title {
    font-family: var(--main-font-name-it);
    font-size: 20px;
    border-bottom: solid var(--color-back-40) 1px;
    color: var(--color-back-100);
    margin-bottom: 16px;
    padding-bottom: 3px;
  }

  .input-container {
    min-height: 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .label {
    font-family: var(--main-font-name);
    color: var(--color-back-90);
    margin: auto 0;
    white-space: nowrap;
  }

  .link {
    cursor: pointer;
    color: var(--color-text-link);
    text-decoration: underline;
  }

  .about {
    margin: 32px auto auto auto;
    text-align: center;
  }
}

.popup-welcome {
  margin: 40px auto 32px auto;
  width: calc(100% - 64px);
  max-width: 1000px;

  .title {
    font-size: 32px;
    text-align: center;
  }

  .desc {
    margin-bottom: 6px;
    text-align: center;
  }

  .hint-title {
    width: 120px;
    line-height: 32px;
    height: 32px;
    margin-left: auto
  }

  .phrase-container {
    display: flex;
    margin: 12px 0 10px 0;

    .phrase {
      padding: 8px;
      width: -webkit-fill-available;
      font-size: 20px;
      color: var(--color-g);
      background-color: var(--color-section);
      text-align: center;
      font-style: italic;
      border-radius: 4px;
      height: 24px;
      line-height: 24px;
    }
  }
}

.popup-inner {
  margin: 40px auto 32px auto;
  width: calc(100% - 64px);
  max-width: 1000px;
}

.picker-background,
.popup-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
}

.picker-div {
  padding: 32px;
  display: block;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  z-index: 250;
}

.popup-div {
  overflow: hidden;
  max-width: 600px;
  height: 160px;
  width: -webkit-fill-available;
  margin: auto;
  background-color: var(--color-base);
  padding: 32px;
  border-radius: 3px;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.48, 0, 0.48, 1.2);
}

.popup-div-nopadding {
  overflow: hidden;
  max-width: 600px;
  height: 160px;
  width: -webkit-fill-available;
  margin: auto;
  background-color: var(--color-base);
  border-radius: 3px;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.48, 0, 0.48, 1.2);
}

.patreon-info-pop-top {
  background-color: #f96854;
  padding: 24px;
}

.patreon-info-pop-bottom {
  padding: 24px;
}

.patreon-info-text {
  text-align: center;
  margin: 8px;
}

.patreon-desc-text {
  font-family: var(--main-font-name-it);
  opacity: 0.8;
  text-align: center;
  margin: 41px 12px 32px;
  padding-top: 24px;
  border-top: 1px solid var(--color-back-40);
}

.patreon_link_thin {
  background-image: url(../assets/images/button_patreon.png);
  cursor: pointer;
  width: 190px;
  height: 42px;
  border-radius: 2px;
  margin: auto;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.25s ease-in;
}

.patreon_link_thin:hover {
  top: -2px;
}

.error-info-top {
  background-color: var(--color-r);
  border-radius: 3px 3px 0 0;
  padding: 24px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/error_icon.png);
}

.error-info-title {
  font-family: var(--main-font-name-it);
  font-size: 18px;
  text-align: center;
}

.error-info-text {
  font-family: var(--main-font-name-it);
  font-size: 16px;
  text-align: center;
}

.error-info-bottom {
  border-radius: 3px;
  padding: 6px;
  height: calc(100% - 112px);
  overflow: scroll;
}
