.avatar-med {
  width: 128px;
  height: 128px;
  border-radius: 256px;
  overflow: hidden;
  background-color: var(--color-dark);
}

.avatar-small {
  width: 64px;
  height: 64px;
  border-radius: 256px;
  overflow: hidden;
}