.section {
  display: block;
  border-radius: 2px;
  background-color: var(--color-section);
  padding: 16px;
  display: flex;
  margin: 16px 0;
  width: calc(100% - 32px);

  .high {
    box-shadow: 0px 8px 16px 8px #00000052;
  }
}

.flex-item {
  display: flex;
}

.wip-sign {
  background-image: url("../assets/images/work.jpg");
  width: 400px;
  height: 292px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px auto;
  border-radius: 10px;
  overflow: hidden;
}