.section {
  display: block;
  border-radius: 2px;
  background-color: var(--color-section);
  padding: 16px;
  display: flex;
  margin: 16px 0;
  width: calc(100% - 32px);
  box-shadow: 0px 8px 16px 8px #00000052;
}

.flex-item {
  display: flex;
}