@import "./misc.scss";

.select-container {
  width: 240px;
  height: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto 4px;
  @include disable-select;

  button {
    -webkit-appearance: none;
    outline: none;
    border: none;
  }

  .select-title {
    white-space: nowrap;
    background-color: var(--color-back);
    font-family: var(--main-font-name-bold);
    color: var(--color-text-link);
    height: 33px;
    font-size: 100%;
    padding: 0 12px;
    justify-content: center;
    line-height: 33px;
  }

  .select-button {
    display: flex;
    color: var(--color-text);
    overflow: hidden;
    text-indent: 10px;
    cursor: pointer;
    width: inherit;
    height: 32px;
    border-radius: 2px;
    background-color: var(--color-section);
    border: 1px solid var(--color-dark);
    -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    @include animated;
    @include disable-select;
  
    &.dark {
      background-color: var(--color-background) !important;
    }
  
    &:after {
      content: "";
      width: 12px;
      height: 7px;
      background-repeat: no-repeat;
      background-image: url("../assets/images/icon_show.png");
      transform: rotate(0deg);
      position: absolute;
      top: 13px;
      right: 8px;
      -webkit-transition: all .2s cubic-bezier(0.2, 0.5, 0.35, 1);
    }
  
    &:hover:enabled {
      border: 1px solid var(--color-dark-hover);
    }
  
    &:hover:after {
      opacity: 1;
    }
  
    &.active {
      border-radius: 2px 2px 0px 0px;
      border: 1px solid var(--color-dark-hover);
      border-bottom: 1px solid var(--color-section) !important;
    }
  
    &.active:after {
      transform: rotate(180deg);
      opacity: 1;
    }
  }

  .select-options-container {
    color: var(--color-text);
    cursor: pointer;
    position: absolute;
    max-height: 384px;
    overflow-y: auto;
    overflow-x: hidden;
    top: calc(100% + 0px);
    right: 0px;
    left: 0px;
    z-index: 999;
    border-radius: 0 0 2px 2px;
    background-color: var(--color-section);
    border: 1px solid var(--color-dark-hover);
    border-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 8px 4px;
  }

  .select-option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    color: var(--color-text);
    background-color: var(--color-section);
    margin: 0;
    height: 33px;
    padding: 0 12px;
    /*border-top: 1px solid var(--color-mid-50);*/
    -webkit-transition: all .1s cubic-bezier(0.2, 0.5, 0.35, 1);
    width: 100%;
    @include animated;
    @include disable-select;

    &.disabled {
      background: var(--color-section-active);
    }
  
    &:enabled:hover {
      background: var(--color-section-hover);
    }
  }
}
