
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-text-disabled);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .switchslider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .switchslider {
  background-color: var(--color-button);
}

.switch input:focus + .switchslider {
  box-shadow: 0 0 1px black;
}

.switch input:checked + .switchslider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.switch .switchslider {
  border-radius: 34px;
}

.switch .switchslider:before {
  border-radius: 50%;
}

.switch-container {
  min-height: 32px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
}

.switch-container:hover {
  color: var(--color-text-hover);
}

.switch-container-margin {
  margin: 12px auto;
  width: 100%;
}

.switch-label {
  cursor: pointer;
}