.top-nav-container {
  position: relative;
  overflow: hidden;
  align-items: stretch;
  width: 100%;
  height: 48px;
  display: flex;
  z-index: 10;
  background-color: var(--color-section);
  box-shadow: 0px 6px 20px 6px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px var(--color-line-sep);
  -webkit-transition: all 0.5s ease-in-out;

  .icons {
    flex-grow: 2;
    display: flex;
    align-items: stretch;

    .item-no-label {
      max-width: 60px !important;
      min-width: 60px !important;
    }

    .item {
      max-width: 100px;
      min-width: 48px;
      /*height: 48px;*/
      cursor: pointer;
      font-family: "belerenbold";
      font-size: 16px;
      line-height: 48px;
      white-space: nowrap;
      text-align: center;
      color: var(--color-text);
      background-position-y: 64px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url(../assets/images/nav_hover.png);
      -webkit-transition: all 0.2s ease-in-out;
      border-bottom: solid 1px rgba(210, 231, 250, 0);
      overflow: hidden;
      flex-grow: 2;
      width: auto;
      position: relative;
      display: inline-grid;

      span.item-text {
        text-align: center;
        font-family: "belerenbold";
        font-size: 16px;
        line-height: 48px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        -webkit-transition: all 0.5s ease-in-out;
      }
    }

    .item:hover {
      color: var(--color-text-hover);
      background-position-y: 4px;
    }

    .item-selected {
      background-position-y: 4px;
      color: var(--color-text-hover);
      border-bottom: solid 1px rgba(210, 231, 250, 1);
    }
  }

  .icon {
    opacity: 1;
    position: absolute;
    left: calc(50% - 16px);
    top: 8px;
    margin: auto 0;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.5s ease-in-out;
  }

  .icon:hover {
    opacity: 1;
  }

  .info {
    flex-grow: 1;
    display: flex;
    flex-basis: auto;

    .userdata-container {
      display: flex;
      margin-left: auto;
    }

    .top-username {
      color: var(--color-text);
      font-size: 20px;
      margin-left: 8px;
      align-self: center;
      font-family: "belerenbold";
      cursor: default;
    }

    .top-username-id {
      color: var(--color-text-disabled);
      font-size: 20px;
      align-self: center;
      font-family: "belerenbold";
      cursor: default;
    }
  }

  .patreon {
    -webkit-app-region: no-drag;
    align-self: center;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background: url(../assets/images/patreon_badges.png);
    background-position: 0px 0px;
    background-size: cover;
  }

  .sync {
    -webkit-app-region: no-drag;
    align-self: center;
    cursor: pointer;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.9;
    -webkit-transition: all 0.15s ease-in-out;
  }

  .sync:hover {
    opacity: 1;
  }

  .icon-my-decks {
    background: url(../assets/images/tab_my_decks.png);
  }

  .icon-history {
    background: url(../assets/images/tab_history.png);
  }

  .icon-events {
    background: url(../assets/images/tab_events.png);
  }

  .icon-explore {
    background: url(../assets/images/tab_explore.png);
  }

  .icon-economy {
    background: url(../assets/images/tab_economy.png);
  }

  .icon-collection {
    background: url(../assets/images/tab_collection.png);
  }

  .icon-timeline {
    background: url(../assets/images/tab_timeline.png);
  }

  .icon-none {
    opacity: 1;
  }

  .icon-home {
    width: 32px;
    height: 32px;
    opacity: 1;
    background-repeat: no-repeat;
    background-image: url(../assets/images/tab_home.png);
  }

  .icon-constructed {
    -webkit-app-region: no-drag;
    align-self: center;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-position: 0px 0px;
    background: url(../assets/images/ranks_constructed_48.png);
  }

  .icon-limited {
    -webkit-app-region: no-drag;
    align-self: center;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-position: 0px 0px;
    background: url(../assets/images/ranks_limited_48.png);
  }

  .top-constructed-rank,
  .top-limited-rank {
    /* Align leaderboard indicator to center and add text border*/
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    align-self: center;
    width: 48px;
    height: 48px;
    background-position: 0px 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.top-constructed-rank,
.constructed-rank {
  background: url(../assets/images/ranks_constructed_48.png);
}

.top-limited-rank,
.limited-rank {
  background: url(../assets/images/ranks_limited_48.png);
}
