name: "Build"

on: 
  push:
    branches: '**'

jobs:
  build-job:
    runs-on: ${{ matrix.os }}
    name: "Build and test ${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-11]
      
    steps:
    - name: "Setup node"
      uses: actions/setup-node@v1
      with:
        node-version: '16'

    - name: "Checkout source code"
      uses: "actions/checkout@v2"

    - name: "Install modules"
      run: "npm run install:ci"

    - name: "Build (npm)"
      run: "npm run build"

    - name: "Test"
      run: "npm run jest:ci"
